<div class="container-fluid">
  <div class="page-header">
    <h1 class="lead" id='title'>Linked List Example <br>
      <small>a visual example of LinkedList.</small>
    </h1>
  </div>
</div>
<div class='container full-center'>
  <!--            <div class='col-xs-12'>-->
  <div class="row col-xs-12 form-group">
    <h1 for="list-display">Linked List</h1>
    <h3 type="text" id="list-display">{{link.show}}</h3>
    <p class="text-muted">Checkout your list above.</p>
    <h3 type="text" id="list-size">List Size: {{link.size}}</h3>
  </div>
  <div class="row">
    <div class='col-xs-5 col-xs-offset-3'>
      <div id="instructions" class="pull-left">
        <p>1. Enter your node content into the field below.</p>
        <p>2. Click "Add" and select where you want to add your node.</p>
        <p>3. What your list grow.</p>
        <p>4. Repeat 1-3.</p></div>
      <div class="input-group">
        <span class='input-group-addon'>Node value to add:</span>
        <input type="text" id='node-input' class='form-control' ng-model='link.val'>
        <div class='input-group-btn'>
          <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' ng-click="">Add</button>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item" ng-click="link.append(val)">To End</a></li>
            <li><a href="#" class="dropdown-item" ng-click="link.prepend(val)">To Start</a></li>
            <li><a href="#" class="dropdown-item" ng-click="link.remove(val)">Remove</a></li>
            <li><a href="#" class="dropdown-item" ng-click="link.reverse()">Reverse</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>